username.txt
password.txt
telegram_lunkstealth_bot_auth.txt
telegram_app_id.txt
telegram_app_hash.txt
dropbox_access_token.txt
dropbox_app_key.txt
dropbox_app_secret.txt
dropbox_refresh_token.txt
lunkstealth_bot.session
my_account.session
/images
/misc_images
/secrets
/backgrounds